html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    height: 100vh;
}

footer{
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.navbar{
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 20px;
    background-color: #333;
    z-index: 1;
}
.navbar ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.navbar li{
    margin: 0 40px;
    font-size: 16px;
}
.navbar a{
    text-decoration: none;
    color: azure;
    font-size: 25px;
    display: inline-block;
    transition: font-size 0.3s ease;
}
.navbar a:hover{
    color: rgb(41, 108, 32);
}


.content-container{
    text-align: center;
    background-color: #fff;
    padding: 30px;
    width: 100%;
    box-shadow: 0 0 10px rgb(0,0,0.1);
    height: calc(50vh - 60px); /**check this**/
    margin-top: 200px;
}
.welcome-image{
    width: 100%;
    height: auto;
    max-width: 300px;
    border-radius: 5px;
    margin-top: -0px; /**check this**/
}
.cta-button{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 18px;
}
.hover{
    transition: font-size 0.3s ease;
}
.hover:hover{
    font-size:24px;
    transform: rotate(20deg)
}
#searchbar{
    border-radius: 10px;
    padding: 5px;
    width: 150px;
}